[Unit]
Description=PyWatering Service
After=multi-user.target

StartLimitIntervalSec=500
StartLimitBurst=5000

[Service]
Type=idle
Restart=on-failure
RestartSec=30s

ExecStart=/home/berga/Projects/pywatering/venv/bin/python3 /home/berga/Projects/pywatering/main.py > /home/berga/log/pywatering.log 2>&1

[Install]
WantedBy=multi-user.target
