Adafruit-Blinka
adafruit-circuitpython-ads1x15
adafruit-circuitpython-busdevice
adafruit-circuitpython-connectionmanager
adafruit-circuitpython-requests
adafruit-circuitpython-typing
Adafruit-PlatformDetect
Adafruit-PureIO
colorzero
contourpy
cycler
fonttools
geographiclib
geopy
gpiozero
kiwisolver
matplotlib
numpy
packaging
paho-mqtt
pillow
pyftdi
pyparsing
pyserial
python-dateutil
pyusb
RPi.GPIO
six
smbus
suntime
typing_extensions
