Adafruit-Blinka==8.34.0
adafruit-circuitpython-ads1x15==2.2.25
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-connectionmanager==1.0.1
adafruit-circuitpython-requests==3.0.1
adafruit-circuitpython-typing==1.10.2
Adafruit-PlatformDetect==3.62.0
Adafruit-PureIO==1.1.11
colorzero==2.0
contourpy==1.2.0
cycler==0.12.1
fonttools==4.49.0
geographiclib==2.0
geopy==2.4.1
gpiozero==1.6.2
importlib-metadata==4.13.0
importlib-resources==5.13.0
kiwisolver==1.4.5
lgpio==0.0.0.2
matplotlib==3.8.3
numpy==1.26.4
packaging==23.2
paho-mqtt==1.6.1
pillow==10.2.0
pyftdi==0.55.0
pyparsing==3.1.1
pyserial==3.5
python-dateutil==2.9.0.post0
pyusb==1.2.1
RPi.GPIO==0.7.1
six==1.16.0
smbus==1.1.post2
suntime==1.2.5
typing-extensions==4.10.0
zipp==3.17.0
